:root {
    --bg1: #b10333;
    --ativo: #de003e;
  }
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: 233px 1fr 133px;
    width: 100%;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    grid-row: 1;
    background-image: url(../img/fundo.png);
}
header .grid-container-header{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 66.7%;
    height: 179px;
}
header .grid-container-header .logo{
    background-image: url(../img/logo.png);
    width: 152px;
    height: 66px;
    background-repeat: no-repeat;
    text-indent: -9999px; 
    flex-grow: 1;
    margin-top: 2%;
}

header .grid-container-header .mapa-brasil{
    position: absolute;
    top: 0;
    right: 0;
}
header .grid-container-header nav{
    z-index: 1;
}
header .grid-container-header nav ul{
    display: flex;
}

header .grid-container-header nav ul li a{
    background-color: #b10333;
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    line-height: 2.1rem;
    color: #fff;
    background-image: url(../img/divisor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
    display: block;
}
header .grid-container-header nav ul li a:hover{
    color: #69001d;
}
header .grid-container-header nav ul li .ativo{
    color: #fff;
    background-color: var(--ativo);
}

header .grid-container-header nav ul li:nth-child(1) a{
    background-image: none;
}


aside{
   grid-column: 2 / 3;
   grid-row: 2 / -1; 
   background-color: green;
}
main{
    grid-column: 3 / 4;
    grid-auto-rows: 1;
    background-color: orange;
}
footer{
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: pink ;
}