:root {
  --bg1: #b10333;
  --ativo: #de003e;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-rows: 233px 1fr 80px;
  width: 100%;
  min-height: 100vh;
  gap: 10px;
}
header {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
  grid-row: 1;
  background-image: url(../img/fundo.png);
}
header .grid-container-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 66.7%;
  height: 179px;
}
header .grid-container-header .logo {
  background-image: url(../img/logo.png);
  width: 152px;
  height: 66px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  flex-grow: 1;
  margin-top: 2%;
}

header .grid-container-header .mapa-brasil {
  position: absolute;
  top: 0;
  right: 0;
}
header .grid-container-header nav {
  z-index: 1;
}
header .grid-container-header nav ul {
  display: flex;
}

header .grid-container-header nav ul li a {
  background-color: #b10333;
  font-size: 1rem;
  text-decoration: none;
  padding: 1rem 1.5rem;
  line-height: 2.1rem;
  color: #fff;
  background-image: url(../img/divisor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  display: block;
}
header .grid-container-header nav ul li a:hover {
  color: #69001d;
}
header .grid-container-header nav ul li .ativo {
  color: #fff;
  background-color: var(--ativo);
}

header .grid-container-header nav ul li:nth-child(1) a {
  background-image: none;
}
aside {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}

aside .entrevistas-container {
  background-image: url("../img/fundo-caixa.png");
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

aside .entrevistas-container h2 {
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem;
  background-color: #294c71;
  margin-bottom: 0.5rem;
}
aside .entrevistas-container ul {
  font-weight: 800;
  background-color: #fff;
}
aside .entrevistas-container li {
  color: #000000;
  padding: 0.8rem;
  border-bottom: 1px solid #f3f3f3;
  transition: all 0.5s;
}
aside .entrevistas-container a {
  display: block;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
aside .entrevistas-container a:hover {
  color: #b2b7bd;
}
aside .newsletter-container {
  background-image: url("../img/fundo-caixa.png");
  padding: 0.5rem;
}
aside .newsletter-container h2 {
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem;
  background-color: #294c71;
  margin-bottom: 0.5rem;
}
aside .newsletter-container .newsletter-form {
    background-color: #fff;
    padding: .5rem;
}
aside .newsletter-container .newsletter-form h3{
    background-color: #fff;
    margin-bottom: .5rem;
}
aside .newsletter-container .newsletter-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside .newsletter-container .newsletter-form form input[type="email"]{
    background-color: #e1e4e9c7;
    padding: 1rem;
    height: 40px;
    border: none;
    margin-bottom: .1rem;
    outline: none;
}

aside .newsletter-container .newsletter-form form input[type="button"]{
    background-color: var(--bg1);
    padding: .5rem;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    transition: all .5s;
}
aside .newsletter-container .newsletter-form form input[type="button"]:hover{
    background-color: var(--ativo);
}
main {
  grid-column: 3 / 4;
  grid-auto-rows: 1;
}
main .grid-container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
main .grid-container-main section{
    background-image: url("../img/fundo-caixa.png");
    padding: .5rem;
    min-height: 500px;
}
main .grid-container-main section h2{
    color: #fff;
    font-weight: bolder;
    padding: 0.5rem;
    background-color: #294c71;
    margin-bottom: 0.5rem;
}
main .grid-container-main section article{
    background-color: #fff;
    padding: .5rem;
}
main .grid-container-main section article div{
    position: relative;
    border: 3px solid #dfdfdf;
    margin-bottom: 1rem;
}
main .grid-container-main section article span{
    position: absolute;
    background-color: var(--ativo);
    color: #fff;
    padding: .5rem;
}
main .grid-container-main section article img{
    width: 100%;
}
main .grid-container-main section article p{
    line-height: 20px;
    margin-bottom: .5rem;
}
main .grid-container-main section article a{
    color: var(--bg1);
}
main .grid-container-main .noticia-container{
    display: flex;
}
main .grid-container-main .noticia-container{
    display: flex;
}
main .grid-container-main .noticia-container{
  text-decoration: none;
  margin-bottom: .5rem;
}
main .grid-container-main .noticia-container div{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    height: 100px;
    margin-bottom: 0rem;
}
main .grid-container-main .noticia-container h3{
    color: var(--ativo);
    flex-grow: 1;

}
main .grid-container-main .noticia-container p{
    color: #000;
}
footer {
  grid-column: 1 / -1;
  grid-row: 3;
  background-color: #294c71;
}
footer .grid-container-footer{
    color: #fff;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
